*{
  margin: 0;
  padding: 0;
}

/* header */

.right-menu a{
  display: inline-block;
  margin-top: 30px !important;
}

.svg-inline--fa{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;

}

.input-group{
  width: auto;
  margin-top: 1.15rem;
}

.navbar-brand img{
  left: 50%;
  top: 20px;
  height: 3rem;
  width: 4rem;
  transform: translateX(-50%);
  position: absolute;
}

.header{
  background-color: #f5f6fc;

}

.navbar{
  padding: 0 35px !important;
}

.navbar-toggler-icon{
  font-size: 1.5rem;
}

.banner{
  position: relative;
}

.banner-img img{
  width: 100%;
}

.banner-title{
  position: absolute;
  left: 60%;
  top: 50%;
}

.banner-title h1{
  font-size: 55px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  line-height: 70px;
  padding: 0 10px 0 10px;
}

/* Fashion Trends */

.fashion-trends{
  padding: 100px 0;
}

.fashion-box{
  margin: 80px 0;
}

.title-style h1{
  padding: 40px 0;
}

.title-style{
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}

.title-style::after{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #f992a6;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.title-style::before{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #f992a6;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.trending-img{

  position: relative;
  margin-bottom: 15px;

}


.trending-img img{

  width: 100%;

}

.btn-buy{
  width: 150px;
  padding: 10px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: .6s;
  opacity: 0;
}

.trending-img:hover .btn-buy{
  transform: translate(-50%, 50%);
  bottom: 50%;
  opacity: 1;
  z-index: 1;
}

.btn-buy:hover{
  background: #40c9a2;
  color: #fff;
  font-weight: bold;
}

.overlay{
  height: 100%;
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.trending-img:hover .overlay{
  opacity: .5;
}
